<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{title}}</title>

    <!-- Include stylesheet -->
    <link href="{{ url_for('static', filename = 'quill.bubble.css') }}" rel="stylesheet" />

    <!-- Include the Quill library -->
    <script src="{{ url_for('static', filename = 'quill.js') }}"></script>

    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">

    <style>
        body {
            font-family: "Sorts Mill Goudy", serif !important;
            font-weight: 400;
            font-style: normal;
            color: whitesmoke;

            margin: 0; /* Removes default margins */
            height: 100vh; /* Ensures body takes full viewport height */
            box-shadow: inset 0 0 64px 64px rgba(0, 0, 0, 0.5); /* Adjust values as needed */

            overflow: hidden;

            background-image: url("../static/tmp/{{bg}}");
            background-position: center;
            background-size: cover;
        }
    </style>

</head>


<body>
    <div hidden id="ref">{{ ref }}</div>

    <div id="popup" class="overlay" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <div id="information" style="display: none;">
                <p id="word-count">Words: 100</p>
                <input id="new-title" type="text" value="{{title}}">
                <button onclick="rename()">Rename</button>
                <button onclick="popdown()">Return</button>
            </div>
        </center>
        <div style="flex: 1;">
        </div>
        <div>
            <center>
                <button id="delete1" onclick="delete1();" style="background-color: rgba(255, 0, 0, 0.5);">Delete Story</button>
                <button id="delete2" onclick="delete2();" style="background-color: rgba(255, 0, 0, 1); display: none;">I'm sure I want to delete this story</button>
            </center>
        </div>
    </div>

    <script>
        async function print() {
            save();

            const response = await fetch("/print", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}"
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    window.open('../static/output.pdf', '_blank').focus();
                }
            });
        }

        function delete1() {
            document.getElementById("delete1").style.display = "none";
            document.getElementById("delete2").style.display = "block";
        }

        async function delete2() {
            const response = await fetch("/delete", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}"
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    window.location.href='/';
                }
            });
        }
    </script>

    <div class="container">
        <div class="titlebar">
            <div style="width: 100%;">
                <div id="title" class="cascade">{{ title }}</div>
                <div style="flex: 1;"></div>
            </div>
        </div>
        <div id="editor" class="editor" onkeypress="poke()">
            {{ content|safe }}
        </div>
        <div class="titlebar">
            <div style="flex: 1;"></div>

            <button id="btnSave" onclick="save()">Save</button>
            <button onclick="popup('information');">Information</button>
            {% if local == False %}
            <button onclick="print()">Download PDF</button>
            {% endif %}
            <button onclick="save(); window.location.href='/';">Return</button>
        </div>
    </div>

    <script>
        async function rename() {
            const response = await fetch("/rename", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}",
                    title: document.getElementById("new-title").value
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    location.reload();
                }
            });
        }

        function countVisibleWords() {
            const editor = document.getElementById('editor');            
            const text = editor.innerText || '';
            const words = text.trim().match(/\b\w+\b/g);
            return words ? words.length : 0;
        }

        function popup(element) {
            document.getElementById('word-count').textContent = "Words: " + countVisibleWords().toString();

            document.getElementById("popup").style.display = "flex";
            document.getElementById(element).style.display = "block";
        }

        function popdown() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("information").style.display = "none";
        }

        const toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'align': [] }],
        ];

        const quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'bubble'
        });

        function poke() {
            document.getElementById("btnSave").classList.add("poked");
        }

        async function save() {
            const response = await fetch("/save", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: document.getElementById("ref").textContent,
                    title: document.getElementById("title").textContent,
                    content: document.getElementsByClassName("ql-editor")[0].innerHTML
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    document.getElementById("btnSave").classList.remove("poked");
                }
            });
        }
    </script>
</body>

</html>