<html>

<head>
    <title>{{title}}</title>

    <!-- Include stylesheet -->
    <link href="../static/quill.bubble.css" rel="stylesheet" />

    <!-- Include the Quill library -->
    <script src="../static/quill.js"></script>

    <link href="../static/styles.css" rel="stylesheet">

</head>


<body>
    <div hidden id="ref">{{ ref }}</div>

    <div class="container">
        <div class="titlebar">
            <div style="width: 100%;">
                <div id="title" class="cascade">{{ title }}</div>
                <div style="flex: 1;"></div>
            </div>
        </div>
        <div id="editor" class="editor" onkeypress="poke()">
            {{ content|safe }}
        </div>
        <div class="titlebar">
            <div style="flex: 1;"></div>

            <button id="btnSave" onclick="save()">Save</button>
            <button>Information</button>
            <button onclick="save(); window.location.href='/';">Return</button>
        </div>
    </div>

    <!-- Initialize Quill editor -->
    <script>
        const quill = new Quill('#editor', {
            theme: 'bubble',
        });

        function poke() {
            document.getElementById("btnSave").classList.add("poked");
        }

        async function save() {
            const response = await fetch("/save", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: document.getElementById("ref").textContent,
                    title: document.getElementById("title").textContent,
                    content: document.getElementsByClassName("ql-editor")[0].innerHTML
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    document.getElementById("btnSave").classList.remove("poked");
                }
            });
        }
    </script>
</body>

</html>