<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Gnimble</title>

    <script src="{{ url_for('static', filename = 'qrcode.min.js') }}"></script>

    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">

</head>

<body>
    <div hidden id="ref">{{ ref }}</div>

    <div id="popup" class="overlay" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <div id="new-story" style="display: none;">
                <p>What would you like to name your new document?</p>
                <input type="text">
                <button>Create</button>
                <button onclick="popdown()">Return</button>
            </div>
            <div id="sync" style="display: none;">
                <p><strong>To connect to your Gnimble device:</strong></p>
                <p>1. Make sure both devices are on the same Wi-Fi network.</p>
                <p>2. Open a web browser, and visit the address below:</p>
                <h1>http://{{ip}}</h1>
                <div id="qrcode"></div>
                <button onclick="popdown()">Return</button>
            </div>
            <div id="settings" style="display: none;">
                <p>Wi-Fi: Connected</p>
                <button onclick="popdown()">Return</button>
            </div>
        </center>
        <div style="flex: 1;"> </div>
    </div>

    <div class="container">
        <div class="titlebar">
            <div style="width: 100%;">
                <div id="title" class="cascade">Gnimble</div>
                <div style="flex: 1;"></div>
            </div>
        </div>
        <div class="editor" style="overflow-y: auto; display: flex; flex-wrap: wrap;">
            {% for story in stories %}
            <button onclick="go(`{{story['ref']}}`)" class="long">{{ story["title"] }}</button>
            {% endfor %}
        </div>
        <div class="titlebar">
            <div style="flex: 1;"></div>

            <button onclick="popup('new-story')">New Story</button>
            <button onclick="popup('settings')">Settings</button>
            <button onclick="popup('sync')">Synchronize</button>
        </div>
    </div>

    <script>
        function popup(element) {
            document.getElementById("popup").style.display = "flex";
            document.getElementById(element).style.display = "block";
        }

        function popdown() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("new-story").style.display = "none";
            document.getElementById("sync").style.display = "none";
            document.getElementById("settings").style.display = "none";
        }

        function go(ref) {
            window.location.href = "/edit?ref=" + ref;
        }

        let code = new QRCode(document.getElementById("qrcode"), "http://{{ip}}");
    </script>
</body>

</html>