[Unit]
Description=Gunicorn Flask Application Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/gnimble
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
