[Unit]
Description=Gnimble Update Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/etc/gnimble
ExecStart=/etc/gnimble/wifi/update.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
