<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{title}}</title>

    <!-- Include stylesheet -->
    <link href="{{ url_for('static', filename = 'quill.bubble.css') }}" rel="stylesheet" />

    <!-- Include the Quill library -->
    <script src="{{ url_for('static', filename = 'quill.js') }}"></script>

    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">

    <style>
        body {
            font-family: "Sorts Mill Goudy", serif !important;
            font-weight: 400;
            font-style: normal;
            color: whitesmoke;

            margin: 0;
            /* Removes default margins */
            height: 100vh;
            /* Ensures body takes full viewport height */
            box-shadow: inset 0 0 128px 128px rgba(0, 0, 0, 0.5);
            /* Adjust values as needed */

            overflow: hidden;

            background-image: url("../static/tmp/{{bg}}");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div hidden id="ref">{{ ref }}</div>

    <div id="loading-popup" class="overlay z-102" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <img src="static/loading-book.gif">
        </center>
        <div style="flex: 1;"> </div>
    </div>

    {% if local == "N" %}
    <div id="password-popup" class="overlay" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <p>Enter password to continue</p>
            <div>
                <input id="password" type="text">
                <button onclick="password_check(false)">Submit</button>
            </div>
        </center>
        <div style="flex: 1;"> </div>
    </div>

    <script>
        let password = "";

        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        // Get a cookie
        function getCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(";");
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) === " ") c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        async function password_check(cookie = false) {
            let p = document.getElementById("password").value;
            if (cookie) {
                p = getCookie("password");
            }

            const response = await fetch("/password", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    serial: p
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    password = p;
                    document.getElementById("password-popup").style.display = "none";
                    setCookie("password", p, 30);
                } else {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        password_check(true);
    </script>
    {% else %}
    <script>
        let password = "{{ serial }}";
    </script>
    {% endif %}

    <div id="popup" class="overlay" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <div id="information" style="display: none;">
                <p id="word-count">Words: 100</p>
                <input id="new-title" type="text" value="{{title}}">
                <button onclick="rename()">Rename</button>
                <button onclick="popdown()">Return</button>
            </div>
        </center>
        <div style="flex: 1;">
        </div>
        <div>
            <center>
                <button id="delete1" onclick="delete1();" style="background-color: rgba(255, 0, 0, 0.5);">Delete
                    Story</button>
                <button id="delete2" onclick="delete2();"
                    style="background-color: rgba(255, 0, 0, 1); display: none;">I'm sure I want to delete this
                    story</button>
            </center>
        </div>
    </div>

    <script>
        async function print() {
            document.getElementById("loading-popup").style.display = "flex";
            const response = await fetch("/print", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}",
                    serial: password
                })
            }).then((response) => response.json()).then((data) => {
                document.getElementById("loading-popup").style.display = "none";
                if (data["success"] == 1) {
                    window.open('../static/output.pdf', '_blank').focus();
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        async function print_docx() {
            document.getElementById("loading-popup").style.display = "flex";
            save();
            const response = await fetch("/docx", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}",
                    serial: password
                })
            }).then((response) => response.json()).then((data) => {
                document.getElementById("loading-popup").style.display = "none";
                if (data["success"] == 1) {
                    window.open('../static/output.docx', '_blank').focus();
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        async function print_text() {
            document.getElementById("loading-popup").style.display = "flex";
            save();
            const response = await fetch("/text", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}",
                    serial: password
                })
            }).then((response) => response.json()).then((data) => {
                document.getElementById("loading-popup").style.display = "none";
                if (data["success"] == 1) {
                    window.open('../static/output.txt', '_blank').focus();
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        function delete1() {
            document.getElementById("delete1").style.display = "none";
            document.getElementById("delete2").style.display = "block";
        }

        async function delete2() {
            document.getElementById("loading-popup").style.display = "flex";

            const response = await fetch("/delete", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}",
                    serial: password
                })
            }).then((response) => response.json()).then((data) => {
                document.getElementById("loading-popup").style.display = "none";
                if (data["success"] == 1) {
                    window.location.href = '/';
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        function capitalizeFirstLetter(val) {
            val = val.trim();
            return String(val).charAt(0).toUpperCase() + String(val).slice(1);
        }

        recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.lang = 'en-US';

        let currentSentence = "";
        let lastSentence = "";
        let fullMessage = "";

        let activeListening = false;
        let pauseTimer;
        const pauseThreshold = 1000; // 1 second pause before finalizing sentence

        function startListening() {
            document.getElementById("micOn").style.display = "none";
            document.getElementById("micOff").style.display = "block";
            recognition.start();
            activeListening = true;
        }

        function stopListening() {
            document.getElementById("micOn").style.display = "block";
            document.getElementById("micOff").style.display = "none";

            currentSentence = "";
            lastSentence = "";
            fullMessage = "";
            recognition.stop();
            activeListening = false;
            clearTimeout(pauseTimer); // Clear any pending timer
            finalizeSentence(); // Force finalize on stop
        }

        function finalizeSentence() {
            if (currentSentence.trim() !== "") { // Check for empty sentences
                document.getElementsByClassName("ql-editor")[0].innerHTML += capitalizeFirstLetter(currentSentence) + ". ";
                currentSentence = "";
                lastSentence = "";
            }
        }

        recognition.onresult = function (event) {
            if (activeListening) {
                let newSentence = ''; // Renamed to avoid confusion

                for (let i = event.resultIndex; i < event.results.length; ++i) {
                    newSentence += event.results[i][0].transcript;
                }

                newSentence = capitalizeFirstLetter(newSentence);

                if (newSentence !== currentSentence) { // Only update if the text has changed
                    currentSentence = newSentence;
                    lastSentence = newSentence; // Keep track of the latest sentence
                    clearTimeout(pauseTimer); // Reset the timer on new input

                    pauseTimer = setTimeout(finalizeSentence, pauseThreshold); // Set timer for pause
                }
            }
        };

    </script>

    <div class="container">
        <div class="titlebar vertical-disappear">
            <div style="width: 100%;">
                <div id="title" class="cascade cozy">{{ title }}</div>
                <div style="flex: 1;"></div>
            </div>
        </div>
        <div id="editor" class="editor" onkeypress="poke()">
            {{ content|safe }}
        </div>
        <div class="titlebar">

            {% if local == "N" %}
            <div style="padding: 12px;">
                Download
            </div>
            <button onclick="print()">PDF</button>
            <button onclick="print_docx()">Word Document</button>
            <button onclick="print_text()">Raw Text</button>
            {% endif %}

            <div style="flex: 1;"></div>

            <button hidden id="micOn" style="display: none;" id="micOn"
                onclick="startListening()">Start<br>Transcription</button>

            <script>
                var winNav = window.navigator;
                var vendorName = winNav.vendor;
                if (!vendorName.includes("Google")) {
                    document.getElementById("micOn").style.display = "none";
                }

                {% if local == "Y" and wifi == "No Internet" %}
                document.getElementById("micOn").style.display = "none";
                {% endif %}
            </script>

            <button style="display: none;" id="micOff" onclick="stopListening()">
                <img src="static/mic.gif" width="64px">
            </button>
            <button id="btnSave" onclick="save()">Save</button>
            <button onclick="popup('information');">Information</button>
            <button onclick="save(); window.location.href='/';">Return</button>
        </div>
    </div>

    <!-- -->

    <script>
        async function rename() {
            const response = await fetch("/rename", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: "{{ ref }}",
                    title: document.getElementById("new-title").value,
                    serial: password
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    location.reload();
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        function countVisibleWords() {
            const editor = document.getElementById('editor');
            const text = editor.innerText || '';
            const words = text.trim().match(/\b\w+\b/g);
            return words ? words.length : 0;
        }

        function popup(element) {
            document.getElementById('word-count').textContent = "Words: " + countVisibleWords().toString();

            document.getElementById("popup").style.display = "flex";
            document.getElementById(element).style.display = "block";
        }

        function popdown() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("information").style.display = "none";
        }

        const toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'align': [] }],
        ];

        const quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'bubble'
        });

        function poke() {
            document.getElementById("btnSave").classList.add("poked");
        }

        async function save() {
            const response = await fetch("/save", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ref: document.getElementById("ref").textContent,
                    title: document.getElementById("title").textContent,
                    content: document.getElementsByClassName("ql-editor")[0].innerHTML,
                    serial: password
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    document.getElementById("btnSave").classList.remove("poked");
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }
    </script>
</body>

</html>