<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Gnimble</title>

    <script src="{{ url_for('static', filename = 'qrcode.min.js') }}"></script>

    <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet">

    <style>
        body {
            font-family: "Sorts Mill Goudy", serif !important;
            font-weight: 400;
            font-style: normal;
            color: whitesmoke;

            margin: 0;
            /* Removes default margins */
            height: 100vh;
            /* Ensures body takes full viewport height */
            box-shadow: inset 0 0 128px 128px rgba(0, 0, 0, 0.5);
            /* Adjust values as needed */

            overflow: hidden;

            background-image: url("../static/tmp/{{bg}}");
            background-position: center;
            background-size: cover;
        }
    </style>

</head>

<body>
    <div id="status-popup"></div>

    <div hidden id="ref">{{ ref }}</div>

    <div id="loading-popup" class="overlay z-102" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <img src="static/loading-book.gif">
        </center>
        <div style="flex: 1;"> </div>
        <div style="padding: 12px;">
            <center>
                If you are stuck on this screen for some time, you may press the ↻ key to reload.
            </center>
        </div>
    </div>

    {% if local == "N" %}
    <div id="password-popup" class="overlay" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <p>Enter password to continue</p>
            <div>
                <input id="password" type="text">
                <button onclick="password_check(false)">Submit</button>
            </div>
        </center>
        <div style="flex: 3;"> </div>
    </div>

    <script>
        let password = "";

        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        // Get a cookie
        function getCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(";");
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) === " ") c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        async function password_check(cookie = false) {
            document.getElementById("loading-popup").style.display = "flex";
            let p = document.getElementById("password").value;

            if (cookie) {
                p = getCookie("password");
            }

            const response = await fetch("/password", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    serial: p
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    password = p;
                    document.getElementById("password-popup").style.display = "none";
                    setCookie("password", p, 30);
                } else {
                    document.getElementById("password-popup").style.display = "flex";
                }

                document.getElementById("loading-popup").style.display = "none";
            });
        }

        password_check(true);
    </script>
    {% else %}
    <script>
        let password = "{{ serial }}";
    </script>
    {% endif %}

    <div id="popup" class="overlay" style="display: none;">
        <div style="flex: 1;"> </div>
        <center>
            <div id="new-story" style="display: none;">
                <p>What would you like to name your new document?</p>
                <input id="input-title" type="text">
                <button onclick="create()">Create</button>
                <button onclick="popdown()">Return</button>
            </div>
            <div id="sync" style="display: none;">
                {% if local == "Y" %}
                {% if wifi == "No Internet" %}

                <p><strong>Please connect to the internet to enable sync.</strong></p>
                <div hidden id="qrcode"></div>
                <button onclick="popdown()">Return</button>

                {% else %}

                <p><strong>To connect to your Gnimble device:</strong></p>
                <p>1. Make sure both devices are on the same Wi-Fi network.</p>
                <p>2. Open a web browser, and visit the address below:</p>
                <h1>https://{{ip}}:5000</h1>
                <p>3. Enter your password:</p>
                <h1>{{ serial }}</h1>
                <div id="qrcode"></div>
                <button onclick="popdown()">Return</button>

                {% endif %}
                {% endif %}
            </div>
            <div id="settings" style="display: none;">
                {% if local == "Y" %}
                <p>Wi-Fi: <span id="wifi-banner"></span></p>
                <div style="height: 320px; overflow-y: scroll;" id="wifi-list">

                </div>
                <div id="wifi-password-div" style="display: none;">
                    <input id="wifi-password" type="text" placeholder="Password" value="">
                    <button onclick="connectWifi()">Connect</button>
                </div>
                {% else %}
                <label for="wallpaper">Upload a new wallpaper:</label>
                <br>
                <!-- The form below posts to /upload -->
                <form id="wallpaper" method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/png, image/jpeg" />
                    <input type="submit" value="Submit">
                </form>
                {% endif %}
                <br>
                <button onclick="popdown()">Return</button>
            </div>
        </center>
        <div style="flex: 1;"> </div>
        <div style="padding: 12px;">
            <center>
                Gnimble System Software, v.{{ version }}
            </center>
        </div>
    </div>

    <div class="container">
        <div class="titlebar vertical-disappear">
            <div class="cozy"><img width="256px" src="static/gnimble-logo.png" /></div>
            <div class="cozy" id="wifi-label" style="font-weight: bold; font-size: large;">{{ wifi }}</div>
            <div class="cozy" id="battery" style="font-weight: bold; font-size: large;">{{ battery }}</div>
            <div class="cozy" id="time" style="font-weight: bold; font-size: large;">{{ time }}</div>
        </div>
        <div class="editor" style="overflow-y: auto; display: flex; flex-wrap: wrap;">
            {% for story in stories %}
            <button onclick="go(`{{story['ref']}}`)" class="long">{{ story["title"] }}</button>
            {% endfor %}
        </div>
        <div class="titlebar">
            <div style="flex: 1;"> </div>

            <button onclick="popup('new-story')">New Story</button>
            <button onclick="popup('settings')">Settings</button>

            {% if local == "Y" %}
            <button onclick="popup('sync')">Synchronize</button>
            {% endif %}
        </div>
    </div>

    <script>
        let networks = [];

        async function connectWifi(net = document.getElementById("wifi-label").textContent) {
            document.getElementById("loading-popup").style.display = "flex";
            location.reload(true);

            const response = await fetch("/wifi-connect", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ssid: net,
                    password: document.getElementById("wifi-password").value,
                    serial: "{{serial}}"
                })
            }).then((response) => response.json()).then((data) => {
                document.getElementById("loading-popup").style.display = "none";
                window.location.reload();
            });
        }

        function queueWifi(net) {
            let myNetwork = [];
            document.getElementById("loading-popup").style.display = "flex";

            networks.forEach((entry) => {
                console.log(entry[0]);
                if (entry[0] == net) {
                    console.log("FOUND!");
                    console.log(entry[1]);
                    if (entry[1] == '') {
                        connectWifi(net);
                    } else {
                        document.getElementById("wifi-label").textContent = entry[0];
                        document.getElementById("wifi-password-div").style.display = "block";
                    }
                }
            });

            document.getElementById("loading-popup").style.display = "none";
        }

        function go(ref) {
            document.getElementById("loading-popup").style.display = "flex";
            window.location.href = "/edit?ref=" + ref;
        }

        async function popup(element) {

            {% if local == "Y" %}
            document.getElementById("loading-popup").style.display = "flex";
            document.getElementById("wifi-password").value = "";
            document.getElementById("wifi-password-div").style.display = "none";

            // Take care of Wi-Fi listing
            const response = await fetch("/wifi-list", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => response.json()).then((data) => {
                networks = data["networks"];
                console.log(networks);

                document.getElementById("wifi-banner").innerText = data["current"];

                const wifiList = document.getElementById("wifi-list");
                wifiList.innerHTML = ""; // Clear existing items

                for (const net of networks) {
                    // Build up a string of HTML
                    wifiList.innerHTML += `<button onclick='queueWifi("${net[0]}")' style="width: 50%">${net[0]}</button>`;
                }

                document.getElementById("loading-popup").style.display = "none";
            });
            {% endif %}

            document.getElementById("popup").style.display = "flex";
            document.getElementById(element).style.display = "block";
        }

        function popdown() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("new-story").style.display = "none";
            document.getElementById("sync").style.display = "none";
            document.getElementById("settings").style.display = "none";
        }

        async function updateStats() {
            // TIME
            const t = await fetch("/get_time", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => response.json()).then((data) => {
                document.getElementById("time").innerText = data["time"];
            });

            // BATTERY
            const b = await fetch("/get_battery", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => response.json()).then((data) => {
                document.getElementById("battery").innerText = data["battery"];
            });
        }

        setInterval(async () => {
            updateStats();
        }, 5000);

        let code = new QRCode(document.getElementById("qrcode"), "https://{{ip}}:5000");

        async function create() {
            const response = await fetch("/create", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title: document.getElementById("input-title").value,
                    serial: "{{serial}}"
                })
            }).then((response) => response.json()).then((data) => {
                if (data["success"] == 1) {
                    location.reload();
                } else if (data["success"] == 401) {
                    document.getElementById("password-popup").style.display = "flex";
                }
            });
        }

        // Take care of Wi-Fi listing
        async function wifiFetch() {
            const response = await fetch("/wifi-list", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => response.json()).then((data) => {
                networks = data["networks"];
                console.log(networks);

                document.getElementById("wifi-banner").innerText = data["current"];

                const wifiList = document.getElementById("wifi-list");
                wifiList.innerHTML = ""; // Clear existing items

                for (const net of networks) {
                    // Build up a string of HTML
                    wifiList.innerHTML += `<button onclick='queueWifi("${net[0]}")' style="width: 50%">${net[0]}</button>`;
                }

                document.getElementById("loading-popup").style.display = "none";
            });
        }

        wifiFetch();

        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });

        // Active timer for the current popup
        let statusTimer = null;

        function showStatus(message) {
            const popup = document.getElementById('status-popup');

            // Clear any existing timer
            if (statusTimer) {
                clearTimeout(statusTimer);
            }

            // Set the message
            popup.textContent = message;

            // Show the popup
            popup.classList.add('show');

            // Set timer to hide the popup after 2 seconds
            statusTimer = setTimeout(() => {
                popup.classList.remove('show');
                statusTimer = null;
            }, 2000);
        }
    </script>
</body>

</html>