@font-face {
    font-family: "Sorts Mill Goudy";
    src: url('../static/fonts/SortsMillGoudy-Regular.ttf');
}

html {
    background-color: black;
}

@media (orientation: landscape) {
    button {
        font-family: "Sorts Mill Goudy", serif !important;
        font-weight: 400;
        font-style: bold;
        font-size: large;
        z-index: 100;
    
        margin: 6px;
        margin-bottom: 0px;
        padding: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 128px;
        color: whitesmoke;
    
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media (orientation: portrait) {
    button {
        font-family: "Sorts Mill Goudy", serif !important;
        font-weight: 400;
        font-style: bold;
        font-size: large;
        z-index: 100;
        height: 64px;
    
        margin: 6px;
        margin-right: 0px;
        padding: 6px;
        background-color: rgba(0, 0, 0, 0.5);
        color: whitesmoke;
    
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

input {
    background-color: black;
    border: whitesmoke;
    border-style: groove;
    color: white;
    font-size: larger;
    padding: 4px;

    font-family: "Sorts Mill Goudy", serif !important;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(10px);
    z-index: 101;

    display: flex;
    flex-direction: column;
}

.z-102 {
    z-index: 102;
}

.poked {
    background-color: rgba(0, 128, 255, 0.5) !important;
}

.editor {
    font-family: 'Sorts Mill Goudy';
    font-size: larger;
    flex: 2;
    padding: 48px;
    z-index: 99;

    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0 8px 64px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.66);
    color: whitesmoke;
}

@media (orientation: landscape) {
    .titlebar {
        height: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
    }
}

@media (orientation: portrait) {
    .titlebar {
        width: 100%;

        display: flex;
        flex-direction: row;
    }
}

.cozy {
    margin: 6px;
    padding: 6px;
}

@media (orientation: landscape) {
    .cascade {
        font-size: xx-large;

        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media (orientation: portrait) {
    .vertical-disappear {
        display: none;
    }
}

@media (orientation: portrait) {
    .cascade {
        font-size: xx-large;

        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media (orientation: landscape) {
    .container {
        height: 100%;
        display: flex;
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    .container {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
    }
}

.long {
    width: 256px;
    height: 420px;
    padding: 12px;
    margin: 12px;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.74);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2f5f70;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#status-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: large;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    max-width: 250px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

#status-popup.show {
    opacity: 1;
}